/* Glyphicon size */
i.s150x,span.s150x,ul.s150x li:before{font-size:150%;}
i.s200x,span.s200x,ul.s200x li:before{font-size:200%;}
i.s250x,span.s250x,ul.s250x li:before{font-size:250%;}
i.s300x,span.s300x,ul.s300x li:before{font-size:300%;}
i.s350x,span.s350x,ul.s350x li:before{font-size:350%;}
i.s400x,span.s400x,ul.s400x li:before{font-size:400%;}
i.s450x,span.s450x,ul.s450x li:before{font-size:450%;}
i.s500x,span.s500x,ul.s500x li:before{font-size:500%;}

/* Glyphicon color */
ul.iconlist.red li:before,ul.iconlist li.red:before{color:#f00;}
ul.iconlist.blue li:before,ul.iconlist li.blue:before{color:#00f;}
ul.iconlist.green li:before,ul.iconlist li.green:before{color:#0f0;}

/* Bootstrap Glyphicon for set of (li)list of ul */
ul.iconlist{
  list-style:none;padding:0;/*Don't add font-family here to avoid word spacing bug*/
}
ul.iconlist li:before{
  font-family:'Glyphicons Halflings';
  position:relative;
  top:1px;
  display:inline-block;
  font-style:normal;
  font-weight:400;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  padding:0 10px;
  vertical-align: middle;
}
ul.iconlist.ok li:before{
  content:"\e013"
}
ul.iconlist.check li:before{
  content:"\e067"
}
ul.iconlist.ok-sign li:before{
  content:"\e084"
}
ul.iconlist.ok-circle li:before{
  content:"\e089"
}