/* Glyphicon size */
.glyphicon.s1{font-size:1em;}
.glyphicon.s2{font-size:2em;}
.glyphicon.s3{font-size:3em;}
.glyphicon.s4{font-size:4em;}
/* Bootstrap Glyphicon for set of (li)list of ul */
ul.iconlist {
    list-style: none;
    padding: 0;
}
ul.iconlist li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 10px;
}

ul.iconlist.ok-sign li:before {
    content: "\e013";
}
ul.iconlist.check li:before {
    content: "\e067";
}
ul.iconlist.ok li:before {
    content: "\e084";
}
ul.iconlist.ok-circle li:before {
    content: "\e089";
}

/* Bootstrap Glyphicon for individual (li)list */
ul.iconlist li.asterisk:before { content: "\2a"; }
ul.iconlist li.plus:before { content: "\2b"; }
ul.iconlist li.euro,
ul.iconlist li.eur:before { content: "\20ac"; }
ul.iconlist li.minus:before { content: "\2212"; }
ul.iconlist li.cloud:before { content: "\2601"; }
ul.iconlist li.envelope:before { content: "\2709"; }
ul.iconlist li.pencil:before { content: "\270f"; }
ul.iconlist li.glass:before { content: "\e001"; }
ul.iconlist li.music:before { content: "\e002"; }
ul.iconlist li.search:before { content: "\e003"; }
ul.iconlist li.heart:before { content: "\e005"; }
ul.iconlist li.star:before { content: "\e006"; }
ul.iconlist li.star-empty:before { content: "\e007"; }
ul.iconlist li.user:before { content: "\e008"; }
ul.iconlist li.film:before { content: "\e009"; }
ul.iconlist li.th-large:before { content: "\e010"; }
ul.iconlist li.th:before { content: "\e011"; }
ul.iconlist li.th-list:before { content: "\e012"; }
ul.iconlist li.ok:before { content: "\e013"; }
ul.iconlist li.remove:before { content: "\e014"; }
ul.iconlist li.zoom-in:before { content: "\e015"; }
ul.iconlist li.zoom-out:before { content: "\e016"; }
ul.iconlist li.off:before { content: "\e017"; }
ul.iconlist li.signal:before { content: "\e018"; }
ul.iconlist li.cog:before { content: "\e019"; }
ul.iconlist li.trash:before { content: "\e020"; }
ul.iconlist li.home:before { content: "\e021"; }
ul.iconlist li.file:before { content: "\e022"; }
ul.iconlist li.time:before { content: "\e023"; }
ul.iconlist li.road:before { content: "\e024"; }
ul.iconlist li.download-alt:before { content: "\e025"; }
ul.iconlist li.download:before { content: "\e026"; }
ul.iconlist li.upload:before { content: "\e027"; }
ul.iconlist li.inbox:before { content: "\e028"; }
ul.iconlist li.play-circle:before { content: "\e029"; }
ul.iconlist li.repeat:before { content: "\e030"; }
ul.iconlist li.refresh:before { content: "\e031"; }
ul.iconlist li.list-alt:before { content: "\e032"; }
ul.iconlist li.lock:before { content: "\e033"; }
ul.iconlist li.flag:before { content: "\e034"; }
ul.iconlist li.headphones:before { content: "\e035"; }
ul.iconlist li.volume-off:before { content: "\e036"; }
ul.iconlist li.volume-down:before { content: "\e037"; }
ul.iconlist li.volume-up:before { content: "\e038"; }
ul.iconlist li.qrcode:before { content: "\e039"; }
ul.iconlist li.barcode:before { content: "\e040"; }
ul.iconlist li.tag:before { content: "\e041"; }
ul.iconlist li.tags:before { content: "\e042"; }
ul.iconlist li.book:before { content: "\e043"; }
ul.iconlist li.bookmark:before { content: "\e044"; }
ul.iconlist li.print:before { content: "\e045"; }
ul.iconlist li.camera:before { content: "\e046"; }
ul.iconlist li.font:before { content: "\e047"; }
ul.iconlist li.bold:before { content: "\e048"; }
ul.iconlist li.italic:before { content: "\e049"; }
ul.iconlist li.text-height:before { content: "\e050"; }
ul.iconlist li.text-width:before { content: "\e051"; }
ul.iconlist li.align-left:before { content: "\e052"; }
ul.iconlist li.align-center:before { content: "\e053"; }
ul.iconlist li.align-right:before { content: "\e054"; }
ul.iconlist li.align-justify:before { content: "\e055"; }
ul.iconlist li.list:before { content: "\e056"; }
ul.iconlist li.indent-left:before { content: "\e057"; }
ul.iconlist li.indent-right:before { content: "\e058"; }
ul.iconlist li.facetime-video:before { content: "\e059"; }
ul.iconlist li.picture:before { content: "\e060"; }
ul.iconlist li.map-marker:before { content: "\e062"; }
ul.iconlist li.adjust:before { content: "\e063"; }
ul.iconlist li.tint:before { content: "\e064"; }
ul.iconlist li.edit:before { content: "\e065"; }
ul.iconlist li.share:before { content: "\e066"; }
ul.iconlist li.check:before { content: "\e067"; }
ul.iconlist li.move:before { content: "\e068"; }
ul.iconlist li.step-backward:before { content: "\e069"; }
ul.iconlist li.fast-backward:before { content: "\e070"; }
ul.iconlist li.backward:before { content: "\e071"; }
ul.iconlist li.play:before { content: "\e072"; }
ul.iconlist li.pause:before { content: "\e073"; }
ul.iconlist li.stop:before { content: "\e074"; }
ul.iconlist li.forward:before { content: "\e075"; }
ul.iconlist li.fast-forward:before { content: "\e076"; }
ul.iconlist li.step-forward:before { content: "\e077"; }
ul.iconlist li.eject:before { content: "\e078"; }
ul.iconlist li.chevron-left:before { content: "\e079"; }
ul.iconlist li.chevron-right:before { content: "\e080"; }
ul.iconlist li.plus-sign:before { content: "\e081"; }
ul.iconlist li.minus-sign:before { content: "\e082"; }
ul.iconlist li.remove-sign:before { content: "\e083"; }
ul.iconlist li.ok-sign:before { content: "\e084"; }
ul.iconlist li.question-sign:before { content: "\e085"; }
ul.iconlist li.info-sign:before { content: "\e086"; }
ul.iconlist li.screenshot:before { content: "\e087"; }
ul.iconlist li.remove-circle:before { content: "\e088"; }
ul.iconlist li.ok-circle:before { content: "\e089"; }
ul.iconlist li.ban-circle:before { content: "\e090"; }
ul.iconlist li.arrow-left:before { content: "\e091"; }
ul.iconlist li.arrow-right:before { content: "\e092"; }
ul.iconlist li.arrow-up:before { content: "\e093"; }
ul.iconlist li.arrow-down:before { content: "\e094"; }
ul.iconlist li.share-alt:before { content: "\e095"; }
ul.iconlist li.resize-full:before { content: "\e096"; }
ul.iconlist li.resize-small:before { content: "\e097"; }
ul.iconlist li.exclamation-sign:before { content: "\e101"; }
ul.iconlist li.gift:before { content: "\e102"; }
ul.iconlist li.leaf:before { content: "\e103"; }
ul.iconlist li.fire:before { content: "\e104"; }
ul.iconlist li.eye-open:before { content: "\e105"; }
ul.iconlist li.eye-close:before { content: "\e106"; }
ul.iconlist li.warning-sign:before { content: "\e107"; }
ul.iconlist li.plane:before { content: "\e108"; }
ul.iconlist li.calendar:before { content: "\e109"; }
ul.iconlist li.random:before { content: "\e110"; }
ul.iconlist li.comment:before { content: "\e111"; }
ul.iconlist li.magnet:before { content: "\e112"; }
ul.iconlist li.chevron-up:before { content: "\e113"; }
ul.iconlist li.chevron-down:before { content: "\e114"; }
ul.iconlist li.retweet:before { content: "\e115"; }
ul.iconlist li.shopping-cart:before { content: "\e116"; }
ul.iconlist li.folder-close:before { content: "\e117"; }
ul.iconlist li.folder-open:before { content: "\e118"; }
ul.iconlist li.resize-vertical:before { content: "\e119"; }
ul.iconlist li.resize-horizontal:before { content: "\e120"; }
ul.iconlist li.hdd:before { content: "\e121"; }
ul.iconlist li.bullhorn:before { content: "\e122"; }
ul.iconlist li.bell:before { content: "\e123"; }
ul.iconlist li.certificate:before { content: "\e124"; }
ul.iconlist li.thumbs-up:before { content: "\e125"; }
ul.iconlist li.thumbs-down:before { content: "\e126"; }
ul.iconlist li.hand-right:before { content: "\e127"; }
ul.iconlist li.hand-left:before { content: "\e128"; }
ul.iconlist li.hand-up:before { content: "\e129"; }
ul.iconlist li.hand-down:before { content: "\e130"; }
ul.iconlist li.circle-arrow-right:before { content: "\e131"; }
ul.iconlist li.circle-arrow-left:before { content: "\e132"; }
ul.iconlist li.circle-arrow-up:before { content: "\e133"; }
ul.iconlist li.circle-arrow-down:before { content: "\e134"; }
ul.iconlist li.globe:before { content: "\e135"; }
ul.iconlist li.wrench:before { content: "\e136"; }
ul.iconlist li.tasks:before { content: "\e137"; }
ul.iconlist li.filter:before { content: "\e138"; }
ul.iconlist li.briefcase:before { content: "\e139"; }
ul.iconlist li.fullscreen:before { content: "\e140"; }
ul.iconlist li.dashboard:before { content: "\e141"; }
ul.iconlist li.paperclip:before { content: "\e142"; }
ul.iconlist li.heart-empty:before { content: "\e143"; }
ul.iconlist li.link:before { content: "\e144"; }
ul.iconlist li.phone:before { content: "\e145"; }
ul.iconlist li.pushpin:before { content: "\e146"; }
ul.iconlist li.usd:before { content: "\e148"; }
ul.iconlist li.gbp:before { content: "\e149"; }
ul.iconlist li.sort:before { content: "\e150"; }
ul.iconlist li.sort-by-alphabet:before { content: "\e151"; }
ul.iconlist li.sort-by-alphabet-alt:before { content: "\e152"; }
ul.iconlist li.sort-by-order:before { content: "\e153"; }
ul.iconlist li.sort-by-order-alt:before { content: "\e154"; }
ul.iconlist li.sort-by-attributes:before { content: "\e155"; }
ul.iconlist li.sort-by-attributes-alt:before { content: "\e156"; }
ul.iconlist li.unchecked:before { content: "\e157"; }
ul.iconlist li.expand:before { content: "\e158"; }
ul.iconlist li.collapse-down:before { content: "\e159"; }
ul.iconlist li.collapse-up:before { content: "\e160"; }
ul.iconlist li.log-in:before { content: "\e161"; }
ul.iconlist li.flash:before { content: "\e162"; }
ul.iconlist li.log-out:before { content: "\e163"; }
ul.iconlist li.new-window:before { content: "\e164"; }
ul.iconlist li.record:before { content: "\e165"; }
ul.iconlist li.save:before { content: "\e166"; }
ul.iconlist li.open:before { content: "\e167"; }
ul.iconlist li.saved:before { content: "\e168"; }
ul.iconlist li.import:before { content: "\e169"; }
ul.iconlist li.export:before { content: "\e170"; }
ul.iconlist li.send:before { content: "\e171"; }
ul.iconlist li.floppy-disk:before { content: "\e172"; }
ul.iconlist li.floppy-saved:before { content: "\e173"; }
ul.iconlist li.floppy-remove:before { content: "\e174"; }
ul.iconlist li.floppy-save:before { content: "\e175"; }
ul.iconlist li.floppy-open:before { content: "\e176"; }
ul.iconlist li.credit-card:before { content: "\e177"; }
ul.iconlist li.transfer:before { content: "\e178"; }
ul.iconlist li.cutlery:before { content: "\e179"; }
ul.iconlist li.header:before { content: "\e180"; }
ul.iconlist li.compressed:before { content: "\e181"; }
ul.iconlist li.earphone:before { content: "\e182"; }
ul.iconlist li.phone-alt:before { content: "\e183"; }
ul.iconlist li.tower:before { content: "\e184"; }
ul.iconlist li.stats:before { content: "\e185"; }
ul.iconlist li.sd-video:before { content: "\e186"; }
ul.iconlist li.hd-video:before { content: "\e187"; }
ul.iconlist li.subtitles:before { content: "\e188"; }
ul.iconlist li.sound-stereo:before { content: "\e189"; }
ul.iconlist li.sound-dolby:before { content: "\e190"; }
ul.iconlist li.sound-5-1:before { content: "\e191"; }
ul.iconlist li.sound-6-1:before { content: "\e192"; }
ul.iconlist li.sound-7-1:before { content: "\e193"; }
ul.iconlist li.copyright-mark:before { content: "\e194"; }
ul.iconlist li.registration-mark:before { content: "\e195"; }
ul.iconlist li.cloud-download:before { content: "\e197"; }
ul.iconlist li.cloud-upload:before { content: "\e198"; }
ul.iconlist li.tree-conifer:before { content: "\e199"; }
ul.iconlist li.tree-deciduous:before { content: "\e200"; }